@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-color: rgb(16, 0, 72);
  --text-color: aqua;
  --highlight1: rgb(149, 191, 11);
  --highlight1-dark: rgb(226, 128, 36);
  --highlight2: hotpink;
  --highlight2-dark: rgb(185, 51, 118);
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--bg-color);
  font-family: "Rubik", sans-serif;
}

* {
  color: var(--text-color);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn a,
.btn a:focus {
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--highlight1);
  padding: 1em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0.25em 0.25em var(--highlight1-dark);
          box-shadow: 0.25em 0.25em var(--highlight1-dark);
  -webkit-transition: -webkit-box-shadow 100ms linear, -webkit-transform 100ms linear;
  transition: -webkit-box-shadow 100ms linear, -webkit-transform 100ms linear;
  transition: box-shadow 100ms linear, transform 100ms linear;
  transition: box-shadow 100ms linear, transform 100ms linear, -webkit-box-shadow 100ms linear, -webkit-transform 100ms linear;
  -webkit-transform: none;
          transform: none;
}
.btn a:hover,
.btn a:hover:focus {
  -webkit-box-shadow: 0.6em 0.6em var(--highlight1-dark);
          box-shadow: 0.6em 0.6em var(--highlight1-dark);
  -webkit-transform: translate(-0.2em, -0.2em);
          transform: translate(-0.2em, -0.2em);
}
.btn a.active {
  -webkit-box-shadow: 0.6em 0.6em var(--highlight1-dark);
          box-shadow: 0.6em 0.6em var(--highlight1-dark);
  -webkit-transform: translate(-0.2em, -0.2em);
          transform: translate(-0.2em, -0.2em);
}

main {
  margin: 0px 7vw;
}

.slideshow {
  position: relative;
}
.slideshow div:nth-child(n+1) {
  -webkit-transform: translate(3em, 3em);
          transform: translate(3em, 3em);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.slideshow div:nth-child(n+2) {
  -webkit-transform: translate(6em, 6em);
          transform: translate(6em, 6em);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.slideshow div:nth-child(n+3) {
  -webkit-transform: translate(9em, 9em);
          transform: translate(9em, 9em);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.slideshow div:nth-child(n+4) {
  -webkit-transform: translate(12em, 12em);
          transform: translate(12em, 12em);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.slide, img, p {
  border-radius: 2rem;
  position: absolute;
  width: 30em;
  height: 20em;
}

.slide {
  background-color: black;
}
.slide img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.slide p {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slide:hover {
  background-color: black;
}
.slide:hover img {
  opacity: 0.4;
}
.slide:hover p {
  opacity: 1;
}