@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: rgb(16, 0, 72);
    --text-color: white;

    // highlights
         --highlight1: rgb(149, 191, 11);
    --highlight1-dark: rgb(226, 128, 36);
         --highlight2: hotpink;
    --highlight2-dark: rgb(185, 51, 118);
}

body {
    margin: 0;
    min-height: 100%;
    background-color: var(--bg-color);
    font-family: 'Rubik', sans-serif;
}

* {
    color: var(--text-color);
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    display: flex;
    align-items: center;

    a,
    a:focus {
        font-size: 1rem;
        text-decoration: none;
        background-color: var(--highlight1);
        padding: 1em;
        margin: 0 0.6vw;
        border-radius: .5em;
        box-shadow: .25em .25em var(--highlight1-dark);
        transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out;
        transform: none;
    }

    a:hover,
    a:hover:focus {
        box-shadow: .6em .6em var(--highlight1-dark);
        transform: translate(-.2em, -.2em);
    }

    a.active {
        box-shadow: .6em .6em var(--highlight1-dark);
        transform: translate(-.2em, -.2em);
    }
}

main {
    margin: 0px 7vw;
}

.slideshow {
    position: relative;

    @for $i from 1 through 4 {
        div:nth-child(n + #{$i}) {
            transform: translate(($i*3em),($i*3em));
            transition: transform 200ms ease-in-out;
        }
    }
}

.slide, img, p {
    border-radius: 2rem;
    position: absolute;
    width: 30em;
    height: 20em;
}

.slide {
    background-color: black;

    img {
        object-fit: cover;
        opacity: 1;
        transition: opacity 200ms linear;
    }
    p {
        display: grid;
        text-align: center;
        align-content: center;
        opacity: 0;
        transition: opacity 200ms linear;
        user-select: none;
    }
}

.slide:hover {
    background-color: black;
    img {
        opacity: 0.4;
    }
    p {
        opacity: 1;
    }
}